html,body,#main,.swiper-container,.swiper-wrapper.swiper-slide{
    width:100%;
    height: 100%;
    overflow: hidden;/*去掉默认的滚动条*/
}
#main{
    position: relative;
}
.page1,.page5{
    background: #2dcc70;
}
.page2,.page3,.page4{
    background: #a0f8c6;
}
/*PAGE1*/
.page1 img,.page2 img,.page3 img,.page4 img,.page5 img{
    position: absolute;
    opacity: 0;
}
.page1 img:nth-child(1){
    top:0;
    left:0;
    width: 100%;
    height: auto;
}

.page1 .myName{
    position: absolute;
    top: 1.5rem;
    left:1.7rem;
    color: olivedrab;
    font-size: .35rem;
    opacity: 0;
}
.page1 .myResume{
    position: absolute;
    opacity: 0;
    top: 3.5rem;
    left:1.2rem;
    color: olivedrab;
    font-size: 1rem;
    -webkit-text-stroke: .02rem orange;/*文字的立体效果*/
}
.page1 img:nth-child(2){
    width: 2rem;
    height: 2rem;
    bottom: .1rem;
    left:.26rem;
}
#page1 img:nth-child(1){
    -webkit-animation: fadeInDown 1s 0.5s 1 both;
    animation:  fadeInDown 1s 0.5s  1  both;
}
@keyframes move {
    0%,50%,100%{
        opacity: 1;
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-30deg);
    }
}
@keyframes myFade {
    0%,50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
#page1 img:nth-child(2){
    -webkit-animation: move 1s 1s infinite both;
    animation:  move 1s 1s infinite both;
}
#page1 .myName,#page1 .myResume{
    -webkit-animation: myFade 1s 1s 1 both;
    animation:  myFade 1s 1s 1 both;
}
#page1 .myResume{
    -webkit-animation: fadeIn 1s 1s 1 both;
    animation:  fadeIn 1s 1s 1 both;
}

/*PAGE2*//*PAGE3*//*PAGE4*/
.page2 img:nth-child(1),.page3 img:nth-child(1),.page4 img:nth-child(1){
    position: absolute;
    top: .1rem;
    right: .5rem;
    width: 2.5rem;
    height:1rem;
}
.page2 img:nth-child(2),.page3 img:nth-child(2),.page4 img:nth-child(2){
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height:2.5rem;
}
.page2 img:nth-child(3),.page3 img:nth-child(3),.page4 img:nth-child(3){
    position: absolute;
    top: .7rem;
    left: .9rem;
    width: 4.5rem;
    height:1.5rem;
}
.page2 .info-text,.page3 .info-text,.page4 .info-text{
    position: absolute;
    top: .4rem;
    left: .7rem;
    width: 5rem;
    height:2rem;
    text-align: center;
    line-height: 2rem;
    font-size: .4rem;
    color: white;
    opacity: 0;
}
.page2 .info-inner{
    position: absolute;
    top: 2.3rem;
    left: .9rem;
    width: 5.5rem;
    height:7rem;
    line-height: .6rem;
    text-align: left;
    font-size: .3rem;
    color: olivedrab;
    opacity: 0;
}
.page3 .info-inner{
    position: absolute;
    top: 2.1rem;
    left: .4rem;
    width:6rem;
    height:7rem;
    line-height: .5rem;
    text-align: left;
    font-size: .3rem;
    color: olivedrab;
    opacity: 0;
}
.page4 .info-innerA{
    position: absolute;
    top: 2.1rem;
    left: .8rem;
    width:6rem;
    height:7rem;
    line-height: .5rem;
    text-align: left;
    font-size: .3rem;
    color: olivedrab;
    opacity: 0;
}
.page4 .info-innerB{
    position: absolute;
    top: 3.2rem;
    left: .8rem;
    width:6rem;
    height:7rem;
    line-height: .5rem;
    text-align: left;
    font-size: .3rem;
    color: olivedrab;
    opacity: 0;
}

#page2 img:nth-child(1),#page3 img:nth-child(1),#page4 img:nth-child(1){
    -webkit-animation: fadeInRight 1s 1s 1 both;
    animation:  fadeInRight 1s 1s 1 both;
}
#page2 img:nth-child(2),#page3 img:nth-child(2),#page4 img:nth-child(2){
    -webkit-animation: fadeInUP 1s 1s 1 both;
    animation:  fadeInUp 1s 1s 1 both;
}
#page2 img:nth-child(3),#page3 img:nth-child(3),#page4 img:nth-child(3){
    -webkit-animation: fadeIn 1s .5s 1 both;
    animation:  fadeIn 1s .5s 1 both;
}
#page2 .info-text,#page3 .info-text,#page4 .info-text{
    -webkit-animation: fadeIn 1s 1s 1 both;
    animation:  fadeIn 1s 1s 1 both;
}
#page2 .info-inner{
    opacity: 1;
    -webkit-animation: zoomIn 1s 2s 1 both;
    animation:  zoomIn 1s 2s 1 both;
}
#page3 .info-inner,#page5 .info-inner{
    opacity: 1;
    -webkit-animation: fadeInLeft 1s 2s 1 both;
    animation:  fadeInLeft 1s 2s 1 both;
}
#page4 .info-innerA{
    opacity: 1;
    -webkit-animation: fadeInUp 1s .5s 1 both;
    animation:  fadeInUp 1s .5s 1 both;
}
#page4 .info-innerB{
    opacity: 1;
    -webkit-animation: fadeIn 1s 1.5s 1 both;
    animation:  fadeIn 1s 1.5s 1 both;
}
/*PAGE5*/
.page5 img:nth-child(1){
    position: absolute;
    bottom: .3rem;
    right: .5rem;
    width: 1.5rem;
    height: 2rem;
}
.page5 img:nth-child(2){
    position: absolute;
    top: .12rem;
    left: .3rem;
    width: 2.5rem;
    height: 1.5rem;
    opacity: 0;
}
.page5 img:nth-child(3){
    position: absolute;
    top: 2rem;
    left: 1.2rem;
    opacity: 1;
    width: 3rem;
    height: 3rem;
}
.page5 .cal-md{
    position: absolute;
    top: 0.26rem;
    left: 1.2rem;
    width: 3rem;
    height: 2rem;
    opacity: 0;
    -webkit-transform:rotate(-25deg);
    transform:rotate(-25deg);
    font-size: .3rem;
}
.page5 .info-inner{
    position: absolute;
    top: 2rem;
    left: .5rem;
    width: 8rem;
    height: 5rem;
    line-height: .6rem;
    opacity: 0;
    font-size: .35rem;
 }
#page5 img:nth-child(1){
    opacity: 1;
    -webkit-animation: fadeInRight 1s .5s 1 both;
    animation:  fadeInRight 1s .5s 1 both;
}
#page5 img:nth-child(2){
    opacity: 1;
    -webkit-animation: fadeInLeft 1s .5s 1 both;
    animation:  fadeInLeft 1s .5s 1 both;
}
#page5 img:nth-child(3){
    opacity: 1;
    -webkit-animation: fadeInRight 1s .5s 1 both;
    animation:  fadeInRight 1s .5s 1 both;
}
#page5 .cal-md{
    opacity: 1;
    -webkit-animation: zoomIn 1s 1.5s 1 both;
    animation: zoomIn 1s 1.5s 1 both;
}

